/*==========================
08. About Style CSS
==========================*/

.about-content {
  .about-since {
    font-size: 24px;
    line-height: 1;

    @media #{$sm-device} {
      margin-bottom: 20px;
      font-size: 12px;
    }

    @media #{$xxs-device} {
      margin-bottom: 20px;
      font-size: 8px;
    }
  }

  &--2 {
    @media #{$xl-device} {
      margin-left: 0;
      padding-right: 40px;
    }
  }
}

.poem {
  font-size: 24px;
  line-height: 1;

  @media #{$sm-device} {
    margin-bottom: 20px;
    font-size: 16px;
  }

  @media #{$xxs-device} {
    margin-bottom: 20px;
    font-size: 10px;
  }
  @media #{$min-device} {
    margin-bottom: 20px;
    font-size: 7.5px;
  }
}

.about-thumb {
  overflow: hidden;

  @media #{$sm-device} {
    margin-bottom: 35px;
  }

  img {
    width: 100%;
    transition: 0.4s;
  }

  &--2 {
    margin-right: -250px;
  }
}

// Home 2 About Style
.home-two-about-area {
  background-color: $offWhite;
  //background-image: url('../img/about-2-bg.jpg');
  background-position: center right;
  background-repeat: no-repeat;

  @media #{$lg-device, $xlmax-device,$xl-device} {
    background-size: 600px auto;
  }

  @media #{$sm-device, $md-device} {
    background-image: none !important;
  }

  .about-content {
    padding-top: 90px;
    padding-bottom: 110px;

    @media #{$md-device} {
      padding-top: 40px;
      padding-bottom: 90px;
    }

    @media #{$sm-device} {
      padding-bottom: 60px;
      padding-top: 0;
    }
  }
}

.video-button-thumb {
  position: relative;

  &:after {
    content: "";
    background-color: $brandColor;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .btn-play {
    border-radius: 50%;
    background-color: $white;
    color: $brandColor;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    &:hover {
      background-color: $brandColor;
      color: $white;
    }

    i {
      padding-left: 5px;
    }
  }
}
